[Desktop Entry]
Encoding=UTF-8
Name=Link to https://www.google.nl/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=0ahUKEwjZ6uXd_bjJAhWIDg8KHQsyAYYQjRwIBw&url=https%3A%2F%2Fwww.wonderplugin.com%2Fwordpress-lightbox%2F&psig=AFQjCNGQT39N4g983AvYlT5vIssqc_J3cA&ust=1449001589928038
Type=Link
URL=https://www.google.nl/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=0ahUKEwjZ6uXd_bjJAhWIDg8KHQsyAYYQjRwIBw&url=https%3A%2F%2Fwww.wonderplugin.com%2Fwordpress-lightbox%2F&psig=AFQjCNGQT39N4g983AvYlT5vIssqc_J3cA&ust=1449001589928038
Icon=text-html
